html,body {scroll-behavior: smooth;}
/* nav */
nav {
    position:fixed; right:20px; top:20px;
    z-index:999;
}
nav a {color:#fff; margin-left:30px; padding-bottom:5px;}
nav a:hover {border-bottom:2px solid #fff;}
/* main */
main {}
main .visual {
    height:100vh;
    background:url(../images/bg.jpg) center;
    background-size:cover;
    position:relative;
}
main .visual p {position:absolute; left:20px; top:20px;}
main .visual h1 {text-align:center; padding-top:16%;}
main .visual .txt_bg {
    position:absolute; bottom:30px; left:0;
    background:url(../images/text_bg.png) repeat-x; 
    background-size:auto 30px;
    width:100%; height:30px;
    animation:txt_bg 100s linear infinite;
}
@keyframes txt_bg {
    0% {background-position-x:0;}
    100% {background-position-x:-10000px;}
}
/* 공통 */
main a:hover {filter:brightness(150%)}
main > div {padding:30px; min-width:1520px; }
h2 {font-family: 'Cafe24ClassicType-Regular'; font-size:30px;}
h3 {font-family: 'PuradakGentleGothicR'; font-size:60px;}
h4 {font-family: 'PuradakGentleGothicR'; font-size:40px;}
main .contents {text-align: center;}
main .container {display:flex; justify-content: center; align-items: center;}
main .container .thum {width:800px; margin-right:100px;}
main .container .thum img {width:100%;}
main .container .info {width:500px;}
main .container .info p:first-child {padding-bottom:30px;}
main .container .info h1 {font-size:60px; font-family: 'Pretendard-Regular'; font-weight:600;}
main .container .info h1+p {padding:20px 0 50px;}
main .container .info p:nth-child(4) {line-height:1.7;}
main .container .info .link {display:flex; margin-top:50px;}
main .container .info .link a {background:#1D7EFF; color:#fff; padding:5px 10px; margin-right:10px;}
/*  */
#profile {background:#000;}
#contents {
    background:url(../images/list_bg.jpg) center;
    background-size:cover;
}
#contents ul {padding:50px 0;}
#contents ul li {
    text-align:right;
    border-bottom:1px solid #fff;
    padding:30px 0;
}
#contents ul li .list {display:flex; justify-content: flex-end;}
#contents ul li .list p {margin-left:50px;}
/* project */
#project {background:#000;}
#project .title {
    padding:50px 0; display:flex;
    justify-content: space-between; align-items: center;
}
#project div[class$=_title] { /*_title로 끝나는 클래스만 제목 배경설정*/
    background:url(../images/title_icon.png) no-repeat -10px 0;
    background-size:200px;
}
#project .title h3 {padding-left:20px;}
/* 무드스캔 */
#project .project0 {
    background:url(../images/project_0_bg.png)no-repeat center 150%;
}
/* 제인코트 에스뿌아 */
#project .project1 .swiper {width:100%;}
#project .project1 .swiper-slide {background:url(../images/project1.jpg); padding:100px 0;}
#project .project1 .swiper-slide * {color:#000;}
#project .project1 .swiper-slide .logo {text-align: right;}
#project .project1 .swiper-slide .link a {background:#000; color:#fff;}
/* project2 ~ 4 */
#project .project2 {background:#fff; padding:100px 0;}
#project .project2 img {width:100%;}
#project .project3 img {width:100%;}
#project .project4 img {width:100%;}
#project .project4 .swiper-slide {height:600px; overflow:hidden;}
#project .project3 .swiper-slide {height:490px; overflow:hidden;}
/* footer */
footer {
    background:url(../images/bg.jpg) center;
    background-size:cover;
    min-width:1520px;
    display:flex;
    justify-content: center;
    align-items: center;
    height:70vh;
}
footer p:first-child {margin-right:100px;}
footer p {text-align:center; color:#fff; font-size:40px; font-weight:700; line-height:1.8;}
/* ----------------팝업 */
.popup_bg {
    position:fixed; left:0; top:0; z-index:999;
    width:100%; min-width:1520px; height:100vh; 
    display:flex; justify-content: center; align-items: center;
    background:rgba(0,0,0,0.5);
}
.popup_bg .popup_c {width:75vh; height:90vh; overflow-y:auto; overflow-x:hidden;}
.popup_bg .popup_c img {width:100%;}
/* 스크롤바 전체 기본 꾸미기 */
.popup_c::-webkit-scrollbar {
	background:#000;
    width:10px; height:10px;
}
/* 스크롤바 막대 꾸미기 */
.popup_c::-webkit-scrollbar-thumb {
	background:#fff;
}